@{
    Layout = "_Layout";
}

@section emailForm {
    <div id="emailForm">
        <div id="formContainer">
            <h1>Welcome Readers!</h1>
            <p>Stay sharp by keeping up with our latest euntreprenuerial stories and tips!</p>
            <p>Subscribe and recieve a weekly newsletter encapsulating our new content!</p>
            <p>All you have to do is enter your email below</p>
            <form id="email_inp" action="/emailForm" method="post">
                <input id="email" type="text" name="email">
                <input id="submit" type="submit" value="Signup!">
                <button id="close">No Thanks!</button>
            </form>
        </div>
    </div>
    
}

@section newPosts {
    
    
}

@section mediumPosts {
    
    
}